body {
    position: relative;
}

h1 {
    color: #7289da;
}

.center {
    top: 50%;
    left: 50%;
    height: fit-content;
    transform: translate(-50%, -50%);
    color: black;
}

#form {
    background-color: #daebe5;
    padding: 2rem;
    border-radius: 10px;
}
