body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

h1 {
    color: #7289da;
}

#form {
    background-color: #daebe5;
    padding: 2rem;
    border-radius: 10px;
}

#users {
    background-color: rgb(24, 26, 27);
    color: white;
    padding: 2rem;
    border-radius: 10px;
}

#users .content .header {
    font-weight: bolder;
}

#users .title {
    color: white;
}
