body {
    position: relative;
}

h1 {
    color: darkblue;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    color: black;
    background-color: #d3d3d3;
    padding: 2rem;
    border-radius: 10px;
}
