<!DOCTYPE html>
<html lang="en">

  <%- include("./include/header") %>

  <body class="center">
    <div class="ui stackable two column vertically divided grid container cards">
      <div class="row">
        <div class="column">
          <div class="card" id="form">
            <h1>Sign up Form</h1>
            <h4 id="message"></h4>
            <form class="ui form">
              <div class="field">
                <label>Email</label>
                <input id="email" type="email" name="email" placeholder="Email">
              </div>
              <div class="field">
                <label>Username</label>
                <input id="username" type="text" name="username" placeholder="Username">
              </div>
              <div class="field">
                <label>Password</label>
                <input id="password" type="password" name="password" placeholder="Password">
              </div>
              <div class="field">
                <label>Confirm Password</label>
                <input id="confirmPassword" type="password" name="confirmPassword" placeholder="Confirm Password">
              </div>
              <button class="ui primary button" type="submit" id="submitButton">Submit</button>
              <div class="ui error message"></div>
            </form>
            <h3 id="message2"></h3>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="content">
              <div class="header">Users</div>
              <div class="ui accordion">
                <div class="title">
                  <i class="dropdown icon"></i>
                  What is a dog?
                </div>
                <div class="content">
                  <p class="transition hidden">A dog is a type of domesticated animal. Known for its loyalty and
                    faithfulness</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/javascript/index.js"></script>
  </body>

</html>