<!DOCTYPE html>
<html lang="en">

  <%- include("./include/header") %>

  <body>
    <div class="center">
      <h1>Sign up Form</h1>
      <form class="ui form">
        <div class="field">
          <label>Email</label>
          <input id="email" type="email" name="email" placeholder="Email">
        </div>
        <div class="field">
          <label>Username</label>
          <input id="username" type="text" name="username" placeholder="Username">
        </div>
        <div class="field">
          <label>Password</label>
          <input id="password" type="password" name="password" placeholder="Password">
        </div>
        <div class="field">
          <label>Confirm Password</label>
          <input id="confirmPassword" type="password" name="confirmPassword" placeholder="Confirm Password">
        </div>
        <button class="ui primary button" type="submit" id="submitButton">Submit</button>
        <div class="ui error message"></div>
      </form>
    </div>

    <script src="/javascript/index.js"></script>
  </body>

</html>